.tree-list-body {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  line-height: 1.6;
  animation: slideDown 0.5s ease-out forwards;
  margin-left: 20px;
  height: 250px;
  width: 250px;
  overflow-y: auto;
}

.tree-list-innercontainer {
  display: grid;
  justify-items: center;
  border-radius: 5px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
}

.delete-icon {
  margin-left: auto; /* Push it to the end */
  color: #666; /* Initial color */
}
.delete-icon:hover {
  color: #d33; /* Color change on hover */
}

.project-name {
  flex-grow: 1; /* Make project name take up available space */
}

/* New hover effect for project name */
.project-name:hover {
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none; /* Remove default list style */
  padding: 0;
}

li {
  font-size: 18px; /* Make font bigger */
  border-bottom: 1px solid #ccc; /* Light line between each list */
  margin: 10px 0; /* Space out list items */
  display: flex;
  align-items: center; /* Align icon and text */
}

/* Add keyframes for slideDown animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
