.tree-list-body {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  line-height: 1.6;
  animation: slideDown 0.5s ease-out forwards;
  margin-left: 20px;
}

.tree-list-innercontainer {
  border-radius: 5px;
  margin: 0 auto; /* Center the container */
  padding: 20px;
}

ul {
  list-style-type: none; /* Remove default list style */
  padding: 0;
}

li {
  font-size: 18px; /* Make font bigger */
  border-bottom: 1px solid #ccc; /* Light line between each list */
  margin: 10px 0; /* Space out list items */
  display: flex;
  align-items: center; /* Align icon and text */
}

li:hover {
  background-color: #f0f0f0; /* Color change on hover */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners on hover */
}

.project-index {
  margin-right: 10px; /* Space between the number and icon */
}

.file-icon {
  margin-right: 10px; /* Space between the icon and project name */
  color: #666; /* Icon color */
}

/* Add keyframes for slideDown animation */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
